.post-date {
	background: #f4f4f4;
	padding: 4px;
	margin: 3px 0;
	/*display: block; */
}
.pagination-links{
	margin: 30px 0; 
}

a.pagination-links{
	padding: 10px 15px;
	margin: 6px;
	background:#f4f4f4;
	border: 1px #ccc solid;  
}

.pagination-links strong{
	padding: 10px 15px;
	margin: 6px;
	background:#f4f4f4;
	border: 1px #ccc solid;  
}